@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    width: 100%;
    font-family: 'poppins';
    font-size: 16px;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2021/04/04/chilling-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    width: 60%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 2px solid white;
}

body section{
    margin: 5px auto 5em;
}

.header{
    text-align: center;
    padding: 10px;
}

.header p{
    margin: -25px auto 25px;

}

section form{
    padding: 10px;
}

label{
    display: block;
    margin: 1rem 0;
}

input{
    margin: 5px auto 0;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

select{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    
}

fieldset{
    border: none;
    border-bottom: 1px solid white;
}

.inline{
    display: inline;
}

#name,#email,#number{
    width: 100%;
    height: 1.5em

}

textarea{
    width: 100%;
    resize: none;
    margin-top: 5px;
    border-radius: 10px;
}

fieldset:last-of-type{
    border-bottom: none;
}

#submit{
    width: 60%;
    margin: 15px 20%;
    padding: 10px ;
    border-radius: 10px;
    border-color: white;
    
}

#submit[value="Submit"]{
    font-family: 'poppins';
}

#submit:hover{
    text-decoration: underline;
}












